# Ignore all files
*

# But don't ignore directories, so we can recurse into them
!*/

# Don't ignore .py files
!*.py

# Don't ignore .toml files
!*.toml

# Don't ignore .lock files
!*.lock

# Don't ignore .md files
!*.md